<apex:page standardController="User" showHeader="false" sidebar="false" extensions="DealRegUserExtension">
<apex:form >
    <table>
        <tr>
        <td colspan='3'>
            <apex:messages id="info"/>
        </td>
        </tr>
        <tr>
        <td class="labelCol">
            Deal Registration User:
        </td>
        <td>
            <apex:selectList value="{!selectedUser}" size="1" multiselect="false">
            <apex:selectOptions value="{!Users}">
            </apex:selectOptions>    
            </apex:selectList>
        </td>
        <td>
            <apex:commandButton value="Set" action="{!SaveUser}"/>
        </td>
        </tr>
        </table>
</apex:form>
</apex:page>