<apex:page showHeader="false" sidebar="false" standardController="Quote" extensions="MultiEditExtension">
<script>
    function sendValues()
    {
        var p;
        var c;
        var r;
        var cd;
        var srt;
        var chc;
        var a;
        var s;
        //Pricing Method
        //alert(temppricing.value);
        //Commercial Vehicle
        //alert(tempcontractvehicle.value);
        //Region
        //alert(tempregion.value);
        //alert(tempcanceldate.value);
        //alert(tempserviceratetype.value);
        //alert(tempclosedhoursconverted.value);
        //alert(tempamount.value);
        p = temppricing.value;
        r = tempregion.value;
        s = tempsalescategory.value;
        //if ({!showContractVehicle})
            c = tempcontractvehicle.value
        if ({!showService})
        {
            cd = tempcanceldate.value;
            srt = tempserviceratetype.value;
            chc = tempclosedhoursconverted.value
        }
        a = tempamount.value;
        //Send Values Back to the Calling Pages Form
        try
        {
            window.parent.opener.PopupAssign(p,c,r,cd,srt,chc,a,s);
        }
        catch (err)
        {
            window.opener.PopupAssign(p,c,r,cd,srt,chc,a,s);
        }        
        window.close();
    }
    function performClose()
    {
        window.parent.opener.PopupClose();
        window.close();
    }
</script>
<apex:form id="editForm" >
    <apex:pageBlock title="Edit Selections" >
    <apex:pageBlockButtons >
        <apex:commandButton value="Select" onclick="sendValues();"/>
        <apex:commandButton value="Cancel" onclick="performClose();" rerender="editForm"/>
    </apex:pageBlockButtons>
    <table>
       <tr>
       <td>Pricing Method:
       </td>
       <td>
            <apex:selectList value="{!SelectedPricingMethod}" multiselect="false" size="1" id="PricingMethod">
                <apex:selectoptions value="{!PricingMethods}"></apex:selectoptions>                
            </apex:selectList><script> var temppricing = document.getElementById("{!$Component.PricingMethod}");//alert(temppricing.value);</script>
       </td>
       </tr>
       <tr>
       <td>Amount:
       </td>
       <td>
            <apex:inputField value="{!QLI.Unit_Price__c}" id="Amount" />
                <script> var tempamount = document.getElementById("{!$Component.Amount}");//alert(tempamount.value);</script>
       </td>
       </tr>
       <tr>
       <td>Sales Category:
       </td>
       <td>
           <apex:selectList value="{!SelectedSalesCategory}" id="SalesCategory" multiselect="false" size="1">
               <apex:selectOptions value="{!SalesCategories}"/>
           </apex:selectList><script> var tempsalescategory = document.getElementById("{!$Component.SalesCategory}");</script>
       </td>
       </tr>
       <apex:outputPanel >
       <tr>
       <td>Contract Vehicle:
       </td>
       <td>
           <apex:selectList value="{!SelectedContractVehicle}" multiselect="false" size="1" id="ContractVehicle">
               <apex:selectOptions value="{!ContractVehicles}"></apex:selectOptions>
           </apex:selectList><script> var tempcontractvehicle = document.getElementById("{!$Component.ContractVehicle}");//alert(tempcontractvehicle.value);</script>
       </td>
       </tr>
       </apex:outputPanel>
       <tr>
       <td>Region:
       </td>
       <td>
           <apex:selectList value="{!SelectedRegion}" multiselect="false" size="1" id="Region">
               <apex:selectOptions value="{!Regions}"></apex:selectOptions>
           </apex:selectList><script> var tempregion = document.getElementById("{!$Component.Region}");//alert(temppricing.value);</script>
       </td>
       </tr>
       <apex:outputPanel rendered="{!showService}">
       <tr></tr>
       <tr>
       <td>Cancel Date:
       </td>
       <td>
           <apex:inputField value="{!QLI.Cancelled_Fishnet_Services__c}" id="canceldate"/><script> var tempcanceldate = document.getElementById("{!$Component.canceldate}");//alert(tempcanceldate.value);</script>
       </td>
       </tr>
       <tr>
       <td>Service Rate Type:
       </td>
       <td>
           <apex:inputField value="{!QLI.Service_Rate_Type__c}" id="serviceratetype"/><script> var tempserviceratetype = document.getElementById("{!$Component.serviceratetype}");//alert(tempserviceratetype.value);</script>
       </td>
       </tr>
       <tr>
       <td>Closed Hours Converted:
       </td>
       <td>
           <apex:inputField value="{!QLI.Closed_Hours_Converted__c}" id="closedhoursconverted"/><script> var tempclosedhoursconverted = document.getElementById("{!$Component.closedhoursconverted}");//alert(tempclosedhoursconverted.value);</script>
       </td>
       </tr>
       </apex:outputPanel>
    </table>
    </apex:pageBlock>
</apex:form>
</apex:page>